body{
    background-color: #fff !important;
}
.headerWrap{
    position: relative;
    float: left;
    width: 100%;
    background-color: #fff;
}
/* .headerWrap{
    height: 100%;
} */
.sidebarWrap{
    position: relative;
    float: left;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.contentWrap{
    position: relative;
    float: left;
    margin-top: 10px;
}
.topNav{
    position: fixed;
    width: 100%;
    float: left;
    z-index: 999;
}
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .sideLogo{
    width: 50px;
    position: relative;
    float: left;
  }
  .topNav > mat-toolbar{
      box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }





  .adm-sidenav-fab-container {
    
    border: 1px solid rgba(0, 0, 0, 0.5);
    width:100%;
  }
  
  .adm-sidenav-fab-container mat-sidenav {
    max-width: 210px;
    width: 210px;
    height: 610px;  
    overflow-y:scroll; 
  }
  
  .adm-sidenav-fab-container .mat-sidenav-content,
  .adm-sidenav-fab-container mat-sidenav {
    display: flex;
    overflow: visible;
  }
  
  .adm-scrolling-content {
    overflow: auto;
    width: 100%;
   }
  
  .adm-fab.mat-mini-fab {
    position: absolute;
    right: 20px;
    bottom: 10px;
  }

  .content-box{
      margin-top: 64px;
  }
  .content-box     {
      height: calc(100% - 64px);
  }