<mat-card class="example-card ">
  
 
  <mat-card-content>
      <p class="center">
      <img width="100" src="https://cdn-images-1.medium.com/max/796/1*juPyda3wq9uz_SNFRLuANg@2x.png">
      </p>
      <br/> <br/>
      <h3 class="center"> Authenticate </h3>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      

        <form class="example-form" (ngSubmit)="doLogin()">
        
          <p>
              <mat-form-field class="full-width">
                  <input matInput placeholder="Enter username" [(ngModel)] ="login.username" name="username" required>
                </mat-form-field>
          </p>
            <p>
            <mat-form-field class="full-width">
                    <input matInput placeholder="Enter password" [(ngModel)]="login.password" name="password" required>
            </mat-form-field>
            </p>
           
            <p>
                <mat-checkbox class="pull-left"> Check me!</mat-checkbox>
               <button mat-raised-button color="primary" class="pull-right">Login</button>
            </p>
          </form>
     <br>
     <br>
  </mat-card-content>

  
</mat-card>
